/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* Title */
h1 {
    text-align: center;
    text-transform: uppercase;
}

/* Container for memory game */
.container {
    display: grid;
    gap: 1rem;
    padding: 2.5rem 0;
    outline: 5px solid black;
    min-width: 280px;
    align-self: center;
    background-color: pink;
}

.instruction {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    outline: 2px solid black;
}

p {
    max-width: 280px;
    font-size: 19px;
}

.animals {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.5em;
    place-items: center;
    border-radius: 10px;
    padding: 0.5em;
    background-color: red;
    outline: 2px solid black;
}

.animal {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: white;
    outline: 2px solid black;
}

.animal-front,
.animal-back {
    position: absolute;
    cursor: pointer;
    transition: 0.8s;
    backface-visibility: hidden;
}

.animal-back {
    transform: rotateY(0);
}

.animal.flip > .animal-back {
    transform: rotateY(180deg);
}

.animal-front {
    transform: rotateY(180deg);
}

.animal.flip > .animal-front {
    transform: rotateY(0);
}

.animal img {
    max-width: 80px;
    max-height: 80px;
}

/* Buttons & timer */
.game-info {
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}

#stop-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    padding: 10px 0;
}

#restart-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    padding: 10px 0;
}

#light-dark {
    position: relative;
    left: 15px;
    top: 10px;
    font-size: 35px;
    cursor: pointer;
    width: 20px;
}

/* footer */
footer {
    background-color: black;
}

/* Social media icons */
#social-media {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    font-size: 180%;
    margin: 20px;
    list-style: none;
}

#facebook {
    color: #4267B2;
}

#twitter {
    color: white;
}

#youtube {
    color: #FF0000;
}

#instagram {
    color: #C13584;
}

/* Media query (MAX-width 400px) */
@media screen and (max-width: 400px) {
    .animals {
        grid-template-columns: repeat(3, auto);
    }
}

/* Media query (MIN-width 400px) */
@media screen and (min-width: 400px) {
    .container {
        padding: 5%;
    }

    p {
        max-width: 400px;
    }
}

/* Media query (min-width 768px) */
@media screen and (min-width: 768px) {
    .container {
        padding: 5%;
    }

    p {
        max-width: 550px;
    }

    .animals {
        grid-gap: 1em;
        border-radius: 10px;
        padding: 1em;
    }

    .animal {
        height: 120px;
        width: 120px;
    }

    .animal img {
        max-width: 120px;
        max-height: 120px;
    }
}

/* Media query (min-width 998px) */
@media screen and (min-width: 998px) {
    #social-media :hover {
        color: gray;
    }
}