/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* Title */
h1 {
    text-align: center;
}

/* Container for memory game */
.container {
    display: grid;
    gap: 1rem;
    padding: 2.5rem 0;
    outline: 5px solid black;
    min-width: 280px;
    align-self: center;
    background-color: yellowgreen;
}

.animals {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.5em;
    place-items: center;
    border-radius: 10px;
    padding: 0.5em;
    background-color: red;
}

.animal {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: white;
}

.animal img {
    max-width: 80px;
    max-height: 80px;
}

/* footer */
footer {
    background-color: black;
}

/* Social media icons */
#social-media {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    font-size: 180%;
    margin: 20px;
    list-style: none;
}

#facebook {
    color: #4267B2;
}

#twitter {
    color: white;
}

#youtube {
    color: #FF0000;
}

#instagram {
    color: #C13584;
}

/* Media query */
@media screen and (max-width: 400px) {
    .animals {
        grid-template-columns: repeat(3, auto);
    }
}