/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

footer {
    background-color: black;
}

#social-media {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    font-size: 180%;
    margin: 20px;
    list-style: none;
}

#facebook {
    color: #4267B2;
}

#twitter {
    color: white;
}

#youtube {
    color: #FF0000;
}

#instagram {
    color: #C13584;
}